@font-face {
    font-family: 'Arial';
    src: url('/fonts/9041.ttf');
}

@font-face {
    font-family: 'Socialico';
    src: url('fonts/Socialico.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    padding: 50px 0;
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    margin: 0;
    padding: 50px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

h3 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
}

header {
    margin: 0 auto;
    max-width: 1280px;
    min-height: 323px;
    background-color: #445161;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-images__img {
    margin: 50px 0;
}

.header-txt__list {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 50px;
    margin: 0;
}

ul.header-txt__list {
    list-style-image: url(/img/check_icon_346.png);
}

.main-about {
    display: flex;
    justify-content: space-between;
}

.main-about__txt {
    max-width: 650px;
}

.main-about__title {
    text-align: left;
}

.main-about__video {
    margin: 50px 0;
    background-color: #445161;
}

.dignity {
    background-color: #F5F5F5;
}

.dignity-wrp {
    display: flex;
    justify-content: space-between;
}

.dignity__list {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.dignity__item {
    list-style-type: none;
    position: relative;
    padding-bottom: 35px;
}

.dignity__item::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(/img/plus.png);
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 6px;
    left: -40px;
}

.screenshots-wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

figure {
    display: flex;
    width: 560px;
    margin: 0 0 30px 0;
}

figcaption {
    margin-left: 15px;
}

figcaption p {
    margin: 3px;
}

@media (max-width: 1240px) {
    .container {
        padding: 0 50px;
    }

    .screenshots-wrp,
    .figure {
        max-width: 1080px;
    }

    figure,
    figcaption,
    p {
        width: 100%;
    }
}

@media (max-width: 1050px) {
    .container {
        padding: 0 40px;
    }

    .header,
    .main-about {
        flex-direction: column;
    }

    .header-txt {
        margin: auto;
    }

    .header-images__img {
        margin: auto;
        margin-bottom: 50px;
    }

    .main-about__txt {
        margin: auto;
    }

    .main-about__title {
        text-align: center;
    }

    .main-about__video {
        margin: auto;
        margin-bottom: 50px;
    }

    .dignity-wrp {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 15px;
    }

    figure,
    img {
        margin: auto;
    }

    figcaption {
        margin: auto;
    }

    figure,
    figcaption,
    h3 {
        text-align: center;
        margin-top: 10px;
    }

    figure,
    figcaption,
    p {
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 0 10px;
    }
}