@font-face {
    font-family: 'Arial';
    src: url('/fonts/9041.ttf');
}

@font-face {
    font-family: 'Socialico';
    src: url('fonts/Socialico.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    padding: 40px 0 30px 0;
    margin: 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

h2 {
    margin: 0;
    padding: 50px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

h3 {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
}

header {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #445161;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-txt__list {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 50px;
    margin: 0;
}

ul.header-txt__list {
    list-style-image: url('/img/check_icon_346.png');
}

.header-images {
    margin-top: 50px;
    width: 469px;
    height: 214px;
}

.header-images__img {
    width: 100%;
    height: 100%;
}

.main-about {
    display: flex;
    justify-content: space-between;
}

.main-about__txt {
    max-width: 650px;
    padding-right: 10px;
}

.main-about__title {
    text-align: left;
    padding-bottom: 5px;
}

.main-about__video {
    margin: 50px 0;
    background-color: #445161;
}

.dignity {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #F5F5F5;
}

.dignity-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

details {
    width: 50%;
    padding: 0 12px 35px 40px;
    cursor: pointer;
}

summary {
    display: block;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: "+";
    display: block;
    width: 32.4px;
    height: 32.4px;
    background-color: #445161;
    color: white;
    font-size: 45px;
    text-align: center;
    line-height: 44px;
    position: absolute;
    top: 5px;
    left: -44px;
}

details[open]>summary::before {
    content: '-';
    line-height: 36px;
}

.dignity-p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.screenshots-wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

figure {
    display: flex;
    width: 560px;
    margin: 0 0 30px 0;
}

figcaption {
    margin-left: 15px;
}

figcaption p {
    margin: 3px;
}

.reviews {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #F5F5F5;
}

.reviews-wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews-block {
    display: flex;
    width: 580px;
    margin: 0 0 25px 0;
}

.reviews-face {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
}

.reviews-comment {
    width: 483px;
    min-height: 121px;
    text-align: justify;
    margin-left: 35px;
    background-color: #EBEBEB;
    border-radius: 5px;
    position: relative;
}

.reviews-comment:before {
    content: "";
    border: 15px solid transparent;
    border-right: 15px solid #EBEBEB;
    position: absolute;
    top: 20px;
    left: -30px;
}

.reviews-comment__txt {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    padding: 15px 20px 5px 20px;
    margin: 0;
}

.reviwes-commetn__name {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    padding: 0 20px 15px 20px;
    margin: 0;
}

.prices {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.prices-title {
    width: 100%;
    display: block;
    text-align: center;
}

.prices-item {
    margin: 0 45px 50px 0;
    border-radius: 6px;
    background-color: #445161;
    padding-bottom: 20px;
}

.prices-item:nth-child(4) {
    margin: 0 0 50px 0;
}

.prices-item__subtitle {
    margin: 15px 0;
    text-align: center;
    color: #ffffff;
}

.pricess-item__price {
    display: block;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    background-color: #ffffff;
    border: 2px solid #445161;
    width: 300px;
    padding: 17px 0 7px 0;
    text-align: center;
}

.prices-item__list {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.price-item__button {
    display: block;
    margin: auto;
    width: 260px;
    height: 40px;
    border-radius: 6px;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
}


@media (max-width: 1240px) {
    .container {
        padding: 0 50px;
    }

    .screenshots-wrp,
    .figure {
        max-width: 1080px;
    }

    figure,
    figcaption,
    p {
        width: 100%;
    }

    .reviews-wrp {
        margin: 0;
    }
}

@media (max-width: 1050px) {
    .container {
        padding: 0 40px;
    }

    .header,
    .main-about {
        flex-direction: column;
    }

    .header-txt {
        margin: auto;
    }

    .header-images {
        margin: auto;
        margin-bottom: 50px;
    }

    .main-about__txt {
        margin: auto;
    }

    .main-about__title {
        text-align: center;
    }

    .main-about__video {
        margin: auto;
        margin-bottom: 50px;
    }

    .dignity-wrp {
        flex-direction: column;
    }

    details {
        width: 100%;
    }

    .reviews .reviews-wrp {
        max-width: 100%;
    }

    .reviews-block {
        width: 100%;
    }

    .reviews-comment {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 15px;
    }

    .header-images {
        width: 287px;
        height: 160px;
    }

    .main-about__video {
        display: block;
        width: 287px;
        height: 160px;
    }

    figure,
    img {
        margin: auto;
    }

    figcaption {
        margin: auto;
    }

    figure,
    figcaption,
    h3 {
        text-align: center;
        margin-top: 10px;
    }

    figure,
    figcaption,
    p {
        flex-direction: column;
        text-align: left;
        margin-bottom: 20px;
    }
}

@media (max-width: 320px) {
    .container {
        padding: 0 10px;
    }
}